#####################################################################
#  Stepper Settings
#####################################################################
##  MCU - In X Position

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR0(B Motor)
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_x: virtual_endstop
position_endstop: 300
position_min: 0
position_max: 300
homing_speed: 20   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

## Y Stepper on MOTOR1 (A Motor)
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc2209_stepper_y: virtual_endstop
position_endstop: 305
position_min: 0
position_max: 305
homing_speed: 20   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: ^PG6
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0.05
# driver_TBL: 2
# driver_TOFF: 3
# driver_HEND: 3
# driver_HSTRT: 0
# driver_PWM_GRAD: 8
# driver_PWM_LIM: 9
driver_SGTHRS: 70

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: ^PG9
interpolate: true
run_current: 0.8
hold_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0.05
# driver_TBL: 2
# driver_TOFF: 3
# driver_HEND: 3
# driver_HSTRT: 0
# driver_PWM_GRAD: 8
# driver_PWM_LIM: 9
driver_SGTHRS: 70

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR2_1
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe: z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------

##	Uncomment below for 250mm build
#position_max: 240

##	Uncomment below for 300mm build
position_max: 290

##	Uncomment below for 350mm build
#position_max: 340

##--------------------------------------------------------------------
position_min: -12
homing_speed: 15
second_homing_speed: 3
homing_retract_dist: 2

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: true
run_current: 1.1
hold_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: true
run_current: 1.1
hold_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: true
run_current: 1.1
hold_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10

##	Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: true
run_current: 1.1
hold_current: 1.1
sense_resistor: 0.110
stealthchop_threshold: 1
driver_TBL: 0
driver_TOFF: 7
driver_HEND: 2
driver_HSTRT: 0
driver_PWM_GRAD: 8
driver_PWM_LIM: 10
##  Maximum length (in mm of raw filament) that a retraction or
##  extrude-only move may have. If a retraction or extrude-only move
##  requests a distance greater than this value it will cause an error
##  to be returned. The default is 50mm.
#max_extrude_only_distance: 100.0

##	E0 on MOTOR6
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.8
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

